<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Agregar tarea" [(ngModel)]="newTask"></ion-input>
    <ion-button expand="block" (click)="addTask()">Agregar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks; let i = index">
      <ion-label>{{ task }}</ion-label>
      <ion-button color="danger" (click)="deleteTask(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

